$padding-horizontal: 250px;
$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 250px;
$black: #000000;
$white: #ffffff;
$purple: #605EBA;
$red: #CE3838;
$light-grey: #E4E4E4;
$light-green: #78CB99;
$light-purple: #887492;
$dark-grey: #3a3a3a;
$red-brown: #853C3C;