@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  /* background-color: #f6f6f6; */
  background-color: #000;
}

* {
  box-sizing: border-box;
  font-family: 'Ubuntu', serif;
}

#root > main.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}